
<div class="container">

   <div class="row">

     <div class="col-xs-12">

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Mobile</th>
      <th>Message</th>
      <th>Room Number</th>
    </tr>
  </thead>

  <tbody>
    <% @smsrequests.each do |smsrequest| %>
      <tr>
        <td><%= smsrequest.mobile %></td>
        <td><%= smsrequest.message %></td>
        <td>215</td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
</div>
