<table>
  <thead>
    <tr>
      <th>Mobile</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @smsrequests.each do |smsrequest| %>
      <tr>
        <td><%= smsrequest.mobile %></td>
        <td><%= smsrequest.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
